
@font-face {
  font-family: 'DINPro';
  src: url('./font/DINPro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro';
  src: url('./DINPro-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

/*
@font-face {
  font-family: 'DINPro';
  src: url('./font/DINPro-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro';
  src: url('./font/DINPro-MediumItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
*/
@font-face {
  font-family: 'DINPro';
  src: url('./font/DINPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro';
  src: url('./font/DINPro-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}
@font-face
{ font-family: abel;
  src: url('./font/Abel-Regular.ttf') format("truetype");
}

body,
html {
  display: block;
  min-height: 100%;
  /* remove font-family: roboto, arial, sans-serif; */
  /* add */
  font-family: "DINPro", "Dejavu Sans", sans-serif;
  font-size: 16px;
  letter-spacing: normal;
  line-height: normal;
  overflow:hidden;
}
[hidden]{
  display:none !important;
}
p {
  margin: 0;
}
label {
  margin: 0;
  opacity: 0.3;
}
#container {
  display: block;
  z-index: 3;
  overflow: hidden;
}
#bg-switch-toggle {
  z-index:2;
  /*background-color: transparent;*/
}
#bg-switch-close {
  pointer-events: all;
  cursor: pointer;
}
.switch-container{
  pointer-events: none;
}
.bgs{
  display:flex;
  flex-direction: column;
}
#container .content {
  position: relative;
  overflow: hidden;
  padding: 0;
  transition: margin 0.25s;
  width: calc(100% * 2);
}
#container .content .account-picker,
#container .content .current-user-login {
  position: relative;
  /* remove min-height: 500px; */
  box-sizing: border-box;
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  flex:1 1 auto;
}

/* add */
#identifierLink {
  margin-top: 40px;
}

#container .content .content-header,
#container .content .item,
#container .content .other-account {
  padding-left: 40px;
  padding-right: 40px;
}
.content .login {
  padding-top: 40px;
  padding-bottom: 40px;
}
#container .content .content-footer {
  box-sizing: border-box;
  /* add */
  padding-left: 40px;
  /* add */
  padding-right: 40px;
  /* add */
}

/* add */
#container .content .content-header {
}
#container .content .content-header h1 {
  text-indent: -1px;
  font-size: 25px;
  font-weight: bold;
  line-height: 32px;
  margin: 0;
}
/* remove #container .content .current-user-login { */
/* add */
#container .content {
  position: relative;
}
#container .content .current-user-login .selected-user {
  display: block;
  text-align: -webkit-match-parent;
}
#container .content .current-user-login .content-footer {
  display: block;
  position: relative;
  bottom: 0;
  text-align: -webkit-match-parent;
  width: 100%;
  box-sizing: border-box;
}
#container .content .current-user-login .content-footer .other-account {
  box-sizing: border-box;
  /* add */
  padding-left: 60px;
}

#container .content .current-user-login .content-footer .other-account p {
  padding: 16px 0;
}
#container .content .current-user-login .selected-user > .item,
#container .content .current-user-login .content-footer > .other-account {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  /* color:#000; */
}
#container .content .current-user-login .selected-user > .item > *,
#container .content .current-user-login .content-footer > .other-account > * {
  pointer-events: none;
}
#container .content .current-user-login .selected-user > .item .pic,
#container .content .current-user-login .content-footer > .other-account .pic {
  float: left;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 36px;
  margin: 0;
  overflow: hidden;
  width: 36px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#container .content .current-user-login .selected-user > .item .pic img,
#container .content .current-user-login .content-footer > .other-account .pic img {
  max-height: 100%;
  max-width: 100%;
}
#container .content .current-user-login .selected-user > .item .info,
#container .content .current-user-login .content-footer > .other-account .info {
  margin-left: 60px;
  padding: 0;
}
#container .content .current-user-login .selected-user > .item .info p,
#container .content .current-user-login .content-footer > .other-account .info p {
  margin: 0;
}
#container .content .account-list {
  list-style: none;
  margin: 0;
  padding: 0;
  /* remove max-height: calc(500px - 71px); */
  /* add */
  max-height: calc(300px - 71px);
  overflow-y: auto;
}
#container .content .account-list .account {
  display: list-item;
  text-align: -webkit-match-parent;
}
#container .content .account-list .account .item {
  display: block;
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  /* color:#000; */
}
#container .content .account-list .account .item > * {
  pointer-events: none;
}
#container .content .account-list .account .item:hover {
  background: #eeeeee;
}
#container .content .account-list .account .item .pic {
  float: left;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 36px;
  margin: 0;
  overflow: hidden;
  width: 36px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#container .content .account-list .account .item .pic img {
  max-height: 100%;
  max-width: 100%;
}
#container .content .account-list .account .item .info {
  margin-left: 60px;
  padding: 0;
}
#container .content .account-list .account .item .info p {
  margin: 0;
}
#panel {
  display: flex;
  flex-direction: column;
}
.bg {
  background: #fff;
  bottom: 0;
  direction: ltr;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.bg svg {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

.account-picker.flying-pods #account-picker {
  transition: width 180ms ease, height 180ms ease;
}

.input,
.input label,
.input input,
.input .spin,
.button,
.button button .button.login button i.fa,
.material-button .shape:before,
.material-button .shape:after,
.button.login button {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input,
.input label,
.input input,
.input .spin,
.button,
.button button {
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

.input,
.input label {
  padding-left: 40px;
  padding-right: 40px;
}

.input,
.button {
  height: 70px;
}

.input,
.input input,
.button,
.button button {
  position: relative;
}

.input input {
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
}

.input input,
.input label,
.button button {
  /* remove font-family: "Roboto", sans-serif; */
  /* remove add font-family: "Dejavu Sans", sans-serif; */
  font-size: 20px;
  /* color: rgba(0, 0, 0, 0.8); */
  /* remove font-weight: 300; */
  /* add */
  font-weight: normal;
}

.input:before,
.input .spin {
  box-sizing: border-box;
  margin-left: 40px;
  margin-right: 40px;
  width: calc(100% - 80px);
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.input:before {
  content: "";
  background: var(--input-line-background,rgba(0, 0, 0, 0.1));
  z-index: 3;
}

.input .spin {
  background: #4285f4;
  z-index: 4;
  width: 0;
}

.input label {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 2;
  cursor: pointer;
  line-height: 60px;
}

.wallpaperButton,
.actionButton,
.other-account {
  color: var(--action-button-color);
  background: var(--action-button-background);
}
.wallpaperButton:hover,
.actionButton:hover,
.other-account:hover{
  color: var(--action-button-hover-color);
  background: var(--action-button-hover-background);
}
.btn-primary:active,
.wallpaperButton:active {
  background-image: none;
  background-color: rgba(255,255,255,0.4)
}
.btn-primary:active:hover,
.wallpaperButton:active:hover {
  background-image: none;
  background-color: rgba(255,255,255,0.4)
}

.info-container {
}
.info-block {
  opacity: 0.6;
}
.info-left {
  width: 40%;
  float: left;
}
.info-right {
  font-weight: bold;
  width: 60%;
  float: left;
}
.info-spacer {
  height: 15px;
}
.info-clear {
  clear: both;
}

#signin-banner-container {
  box-sizing:border-box;
  position:relative;
  height: 100%;
  max-width: 450px;
  z-index: 3;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}
#signin-banner {
  display: block;
  height: 31px;
}
#signin-banner img{
  max-height: 100%;
}

#signin-logo-container {
  box-sizing:border-box;
  position:relative;
  z-index: 3;
  padding-top: 40px;
  padding-bottom: 40px;
}
#signin-logo {
  display: inline-block;
  width: 146px;
}
#signin-logo img{
  width: 100%;
}

#actionsArea,
#backArea {
  display: block;
  position: relative;
  transform: translateY(-3px);
}
#actionsArea .btn,
#backArea .btn {
  padding: 4px 14px;
}

.morpher {
  box-sizing: border-box;
  position: relative;
  display: flex;
  -webkit-box-flex: 0;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  min-width: 48px;
  overflow: visible;
  padding-left: 40px;
  padding-right: 40px;
}

.login__submit {
  -webkit-transition: width 200ms ease-in 200ms, padding 200ms ease-out 200ms, border-radius 200ms ease-in;
  transition: width 200ms ease-in 200ms, padding 200ms ease-out 200ms, border-radius 200ms ease-in;
  position: relative;
  width: 80%;
  height: 50px;
  margin:0 auto;
  background: rgba(0,0,0,0);
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  /* add */
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
  border:none;
}
.login__submit:hover {
  background: rgba(255,255,255,0.2)
}

.login__submit:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -23px;
  margin-top: -23px;
  width: 45px;
  height: 45px;
  border: 2px dotted #fff;
  border-radius: 50%;
  border-left: none;
  border-bottom: none;
  -webkit-transition: opacity 0.1s 0.4s;
  transition: opacity 0.1s 0.4s;
  opacity: 0;
}

.login__submit.processing {
  -webkit-transition: width 200ms ease-in, padding 200ms ease-out, border-radius 200ms ease-in 200ms;
  transition: width 200ms ease-in, padding 200ms ease-out, border-radius 200ms ease-in 200ms;
  width: 50px;
  border-radius: 50%;
  font-size: 0;
  padding: 1em;
}

.login__submit.processing:after {
  opacity: 1;
  -webkit-animation: rotate 0.5s 0.4s infinite linear;
  animation: rotate 0.5s 0.4s infinite linear;
}

.login__submit.success {
  -webkit-transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  -webkit-transform: scale(30);
  transform: scale(30);
  opacity: 0.9;
}

.login__submit.success:after {
  -webkit-transition: opacity 0.1s 0s;
  transition: opacity 0.1s 0s;
  opacity: 0;
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
