/* bootstrap */

/*
* {
  box-sizing: border-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
::before, ::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group > .btn:first-child {
  margin-left: 0;
}
.btn-group > .btn, .btn-group-vertical > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
  margin-left: 0;
}
.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  font-size: 13px;
  line-height: 1.846;
  border-radius: 3px;
  -moz-user-select: none;
  border: none;
  transition: all .1s;
}
.btn-default {
  -webkit-background-size: 200% 200%;
  background-size: 200%;
  background-position: 50%;
}
.btn-default {
  color: #444;
  background-color: #FFF;
  border-color: transparent;
}
.btn-lg, .btn-group-lg > .btn {
  font-size: 17px;
  line-height: 1.3333333;
}
.btn-primary {
  color: #FFF;
}



.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {

    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

}
.btn-group > .btn + .dropdown-toggle {

    padding-left: 8px;
    padding-right: 8px;

}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {

    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

}


.dropdown-menu {

    list-style: none;
    font-size: 13px;
    text-align: left;
    margin-top: 0;
    border: none;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);

}
.dropdown-menu {

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
        margin-top: 2px;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

}
ul, ol {

    margin-top: 0;
    margin-bottom: 11.5px;

}
.dropdown-menu > li > a {

    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.846;
    color: #666;
    white-space: nowrap;

}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {

    text-decoration: none;
    color: #141414;
    background-color: #EEE;

}






;y:inline-block;
 margin-bottom:0;
 font-weight:400;
 text-align:center;
 vertical-align:middle;
 -ms-touch-action:manipulation;
 touch-action:manipulation;
 cursor:pointer;
 background-image:none;
 border:1px solid transparent;
 white-space:nowrap;
 padding:6px 16px;
 font-size:13px;
 line-height:1.846;
 border-radius:3px;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus {
 outline:thin dotted;
 outline:5px auto -webkit-focus-ring-color;
 outline-offset:-2px
}
.btn:hover,.btn:focus,.btn.focus {
 color:#444;
 text-decoration:none
}
.btn:active,.btn.active {
 outline:0;
 background-image:none;
 -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
 box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)
}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
 cursor:not-allowed;
 opacity:.65;
 filter:alpha(opacity=65);
 -webkit-box-shadow:none;
 box-shadow:none
}
a.btn.disabled,fieldset[disabled] a.btn {
 pointer-events:none
}
.btn-default {
 color:#444;
 background-color:#FFF;
 border-color:transparent
}
.btn-default:focus,.btn-default.focus {
 color:#444;
 background-color:#E6E6E6;
 border-color:rgba(0,0,0,0)
}
.btn-default:hover {
 color:#444;
 background-color:#E6E6E6;
 border-color:rgba(0,0,0,0)
}
.btn-default:active,.btn-default.active,.open > .dropdown-toggle.btn-default {
 color:#444;
 background-color:#E6E6E6;
 border-color:rgba(0,0,0,0)
}
.btn-default:active:hover,.btn-default.active:hover,.open > .dropdown-toggle.btn-default:hover,.btn-default:active:focus,.btn-default.active:focus,.open > .dropdown-toggle.btn-default:focus,.btn-default:active.focus,.btn-default.active.focus,.open > .dropdown-toggle.btn-default.focus {
 color:#444;
 background-color:#D4D4D4;
 border-color:rgba(0,0,0,0)
}
.btn-default:active,.btn-default.active,.open > .dropdown-toggle.btn-default {
 background-image:none
}
.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active {
 background-color:#FFF;
 border-color:transparent
}
.btn-default .badge {
 color:#FFF;
 background-color:#444
}
.btn-primary {
 color:#FFF;
 background-color:#2196F3;
 border-color:transparent
}
.btn-primary:focus,.btn-primary.focus {
 color:#FFF;
 background-color:#0C7CD5;
 border-color:rgba(0,0,0,0)
}
.btn-primary:hover {
 color:#FFF;
 background-color:#0C7CD5;
 border-color:rgba(0,0,0,0)
}
.btn-primary:active,.btn-primary.active,.open > .dropdown-toggle.btn-primary {
 color:#FFF;
 background-color:#0C7CD5;
 border-color:rgba(0,0,0,0)
}
.btn-primary:active:hover,.btn-primary.active:hover,.open > .dropdown-toggle.btn-primary:hover,.btn-primary:active:focus,.btn-primary.active:focus,.open > .dropdown-toggle.btn-primary:focus,.btn-primary:active.focus,.btn-primary.active.focus,.open > .dropdown-toggle.btn-primary.focus {
 color:#FFF;
 background-color:#0A68B4;
 border-color:rgba(0,0,0,0)
}
.btn-primary:active,.btn-primary.active,.open > .dropdown-toggle.btn-primary {
 background-image:none
}
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus,.btn-primary[disabled].focus,fieldset[disabled] .btn-primary.focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active {
 background-color:#2196F3;
 border-color:transparent
}
.btn-primary .badge {
 color:#2196F3;
 background-color:#FFF
}
.btn-success .badge {
 color:#4CAF50;
 background-color:#FFF
}
.btn-info .badge {
 color:#9C27B0;
 background-color:#FFF
}
.btn-warning .badge {
 color:#FF9800;
 background-color:#FFF
}
.btn-danger .badge {
 color:#E51C23;
 background-color:#FFF
}
.btn-lg,.btn-group-lg > .btn {
 padding:10px 16px;
 font-size:17px;
 line-height:1.3333333;
 border-radius:3px
}
.fade {
 opacity:0;
 -webkit-transition:opacity .15s linear;
 -o-transition:opacity .15s linear;
 transition:opacity .15s linear
}
.fade.in {
 opacity:1
}
.collapse {
 display:none
}
.collapse.in {
 display:block
}
tr.collapse.in {
 display:table-row
}
tbody.collapse.in {
 display:table-row-group
}
.collapsing {
 position:relative;
 height:0;
 overflow:hidden;
 -webkit-transition-property:height,visibility;
 -o-transition-property:height,visibility;
 transition-property:height,visibility;
 -webkit-transition-duration:.35s;
 -o-transition-duration:.35s;
 transition-duration:.35s;
 -webkit-transition-timing-function:ease;
 -o-transition-timing-function:ease;
 transition-timing-function:ease
}
.caret {
 display:inline-block;
 width:0;
 height:0;
 margin-left:2px;
 vertical-align:middle;
 border-top:4px dashed;
 border-top:4px solid \9;
 border-right:4px solid transparent;
 border-left:4px solid transparent
}
.dropup,.dropdown {
 position:relative
}
.dropdown-toggle:focus {
 outline:0
}
.dropdown-menu {
 position:absolute;
 top:100%;
 left:0;
 z-index:1000;
 display:none;
 float:left;
 min-width:160px;
 padding:5px 0;
 margin:2px 0 0;
 list-style:none;
 font-size:13px;
 text-align:left;
 background-color:#FFF;
 border:1px solid #CCC;
 border:1px solid rgba(0,0,0,0.15);
 border-radius:3px;
 -webkit-box-shadow:0 6px 12px rgba(0,0,0,0.175);
 box-shadow:0 6px 12px rgba(0,0,0,0.175);
 -webkit-background-clip:padding-box;
 background-clip:padding-box;
}
.dropdown-menu.pull-right {
 right:0;
 left:auto
}
.dropdown-menu .divider {
 height:1px;
 margin:10.5px 0;
 overflow:hidden;
 background-color:#E5E5E5
}
.dropdown-menu > li > a {
 display:block;
 padding:3px 20px;
 clear:both;
 font-weight:400;
 line-height:1.846;
 color:#666;
 white-space:nowrap
}
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus {
 text-decoration:none;
 color:#141414;
 background-color:#EEE
}
.dropdown-menu > .active > a,.dropdown-menu > .active > a:hover,.dropdown-menu > .active > a:focus {
 color:#FFF;
 text-decoration:none;
 outline:0;
 background-color:#2196F3
}
.dropdown-menu > .disabled > a,.dropdown-menu > .disabled > a:hover,.dropdown-menu > .disabled > a:focus {
 color:#BBB
}
.dropdown-menu > .disabled > a:hover,.dropdown-menu > .disabled > a:focus {
 text-decoration:none;
 background:transparent none;
 filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
 cursor:not-allowed
}
.open > .dropdown-menu {
 display:block
}
.open > a {
 outline:0
}
.dropdown-menu-right {
 left:auto;
 right:0
}
.dropdown-menu-left {
 left:0;
 right:auto
}
.dropdown-header {
 display:block;
 padding:3px 20px;
 font-size:12px;
 line-height:1.846;
 color:#BBB;
 white-space:nowrap
}
.dropdown-backdrop {
 position:fixed;
 left:0;
 right:0;
 bottom:0;
 top:0;
 z-index:990
}
.pull-right > .dropdown-menu {
 right:0;
 left:auto
}
.dropup .caret,.navbar-fixed-bottom .dropdown .caret {
 border-top:0;
 border-bottom:4px dashed;
 border-bottom:4px solid \9;
 content:""
}
.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu {
 top:auto;
 bottom:100%;
 margin-bottom:2px
}
@media (min-width: 768px) {
 .navbar-right .dropdown-menu {
  left:auto;
  right:0
 }
 .navbar-right .dropdown-menu-left {
  left:0;
  right:auto
 }
}




input, button {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, select {
  text-transform: none;
}
button {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
*/


/* global settings */

body,
html {
  display: block;
  min-height: 100%;
  font-family: "DINPro", "Dejavu Sans", sans-serif;
  font-size: 16px;
  letter-spacing: normal;
  line-height: normal;
  overflow: hidden;
}
*:focus,
a:focus,
btn:focus {
  outline: none;
}
[hidden]{
  display: none !important;
}
p {
  margin: 0;
}
label {
  margin: 0;
  opacity: 0.5;
}


/* log */

#logWrap {
  position: absolute;
  display: none;
  z-index: 2;
  overflow: auto;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 16px;
  padding: 20px;
  bottom: 40px;
  left: 40px;
  width: 600px;
  height: 350px;
  z-index: 2;
}

#logWrap span {
  align-self: flex-end;
  overflow: hidden;
}

/* background */

.bg {
  background: #fff;
  bottom: 0;
  direction: ltr;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.bg svg {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}
#bg-switch-toggle {
  top: 0;
  right: -2px;
  position: fixed;
  z-index: 2;
}
.toggle {
  margin: 5px 5px 0 0;
}
#bg-switch-wrapper {
  margin-right: -250px;
  top: 0;
  right: 0;
  width: 250px;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}
#bg-switch-wrapper.active {
  right: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
  overflow-x: hidden;
}
.bg-switch-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.switch-container {
  pointer-events: none;
  width: 100%;
  height: 40px;
}
#bg-switch-close {
  pointer-events: all;
  cursor: pointer;
}
.bg-switch {
  width: 250px;
  color: #F5F5F5;
}
.bg-switch h3 {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}
.bg-switch .bgs {
  text-align: center;
}
.bg-switch .bgs img {
  width: 100px;
  height: 56px;
  margin: 5px;
  cursor: pointer;
}
.bg-switch .bgs .bg-default {
  margin-bottom: 10px;
}


/* panel */

#panel {
  display: block;
  z-index: 3;
  overflow: hidden;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .5s linear;
  transition: opacity .5s linear;
}
.fade.in {
  opacity: 1;
}
.username-area.flying-pods #username-area {
  transition: width 180ms ease, height 180ms ease;
}


/* header */

#header {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}


/* footer */

#footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}


/* content */

.content {
  position: relative;
  /* overflow: hidden; */
  padding: 0;
  transition: margin 0.25s;
  width: calc(100% * 2);
}
.content .username-area,
.content .password-area {
  position: relative;
  /* remove min-height: 500px; */
  box-sizing: border-box;
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.content .content-header {
  padding-left: 40px;
  padding-right: 40px;
}
.content .content-login {
  padding-top: 40px;
  padding-bottom: 40px;
}
.content .content-footer {
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
}
.content .content-header h1 {
  text-indent: -1px;
  font-size: 25px;
  font-weight: bold;
  line-height: 32px;
  margin: 0;
}


/* info container */

.info-container {
}
.info-block {
  /* opacity: 0.6; */
}
.info-left {
  width: 40%;
  float: left;
}
.info-right {
  font-weight: bold;
  width: 60%;
  float: left;
}
.info-spacer {
  height: 10px;
}
.info-clear {
  clear: both;
}


/* session list */
#session-list {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  position: relative;
  display: flex;
  -webkit-box-flex: 0;
  justify-content: center;
  align-items: center;
}


/* banner */

#banner {
  display: block;
  height: 31px;
}
#banner img{
  max-height: 100%;
}


/* logo */

#logo-container {
  box-sizing: border-box;
  position: relative;
  z-index: 3;
  padding-top: 40px;
  padding-bottom: 40px;
}
#logo {
  display: inline-block;
  width: 146px;
}
#logo img{
  width: 100%;
}


/* button style (actionButton, wallpaperButton) */

#actionsArea,
#backArea {
  position: relative;
  transform: translateY(-1px);
}
#backArea {
  display: none;
}
#actionsArea .btn,
#backArea .btn {
  padding: 2px 12px;
}
.btn-primary,
.wallpaperButton,
.actionButton {
  color: #fff;
  background: none;
  /* color: var(--action-button-color);
  background: var(--action-button-background); */
  box-shadow: 1px 1px 2px -1px rgba(255, 255, 255, 0.06) inset, 4px 4px 8px -4px rgba(255, 255, 255, 0.03) inset, 1px 1px 4px rgba(0,0,0,0.4);
}
.btn-primary:hover,
.wallpaperButton:hover,
.actionButton:hover {
  color: #fff;
  background: none;
  /* color: var(--action-button-hover-color);
  background: var(--action-button-hover-background); */
  box-shadow: 1px 1px 2px -1px rgba(255, 255, 255, 0.1) inset, 4px 4px 8px -4px rgba(255, 255, 255, 0.12) inset, 1px 1px 4px rgba(0,0,0,0.4);
}
.btn-primary:focus,
.wallpaperButton:focus,
.actionButton:focus {
  outline: none;
}
.btn-primary:active:focus,
.wallpaperButton:active:focus,
.actionButton:active:focus {
  outline: none;
}
.btn-primary:active,
.wallpaperButton:active,
.actionButton:active {
  background: none;
  background-image: none;
  background-color: none;
}
.btn-primary:active:hover,
.wallpaperButton:active:hover,
.actionButton:active:hover {
  background: none;
  background-image: none;
  background-color: none;
}


/* drop-down style */
#session-list .btn-default {
  background-color: rgba(0,0,0,0);
}
#session-list .btn-default:focus {
  outline: none;
}
#session-list .btn-default:active {
  background: none;
  background-image: none;
  background-color: none;
}
#session-list .btn-default:active:hover {
  background: none;
  background-image: none;
  background-color: none;
}
#session-selected {
  width: 100%;
  height: 60px;
  text-align: left;
  vertical-align: middle;
  padding: 0;
  padding-left: 20px;
}
#session-arrow {
  height: 60px;
}
#sessions {
  background-color: rgba(0,0,0,0.9);
  width: calc(100% - 80px);
  margin-left: 40px;
  margin-right: 40px;
  /* -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px); */
  margin-top: 5px;
  height: 220px;
  overflow-y: auto;
}
#session-selected,
#session-arrow,
#sessions {
  text-transform: none;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
}
#sessions li a {
  color: #fff;
}
#sessions li a:hover {
  color: #000;
}
#sessions ul {
  top: 0;
}
#session-selected,
#session-arrow {
  -webkit-box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.2) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.02) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.2) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.02) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.2);
}
#session-selected:hover,
#session-arrow:hover {
  -webkit-box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.3) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.04) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.3) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.04) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}
#session-selected {
  margin-right: 1px;
}
#session-selected:hover {
}
#session-arrow {
  margin-left: 1px;
}
#session-arrow:hover {
  
}



/* input field style */

.input,
.input label,
.input input,
.input .spin,
.button,
.button button .button.login button i.fa,
.material-button .shape:before,
.material-button .shape:after,
.button.login button {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input,
.input label,
.input input,
.input .spin,
.button,
.button button {
  width: 100%;
  box-sizing: border-box;
  outline: none;
}
.input,
.input label {
  padding-left: 40px;
  padding-right: 40px;
}
.input,
.button {
  height: 70px;
}
.input,
.input input,
.button,
.button button {
  position: relative;
}
.input input {
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
}
.input input,
.input label,
.button button {
  font-size: 20px;
  font-weight: normal;
}
.input:before,
.input .spin {
  box-sizing: border-box;
  margin-left: 40px;
  margin-right: 40px;
  width: calc(100% - 80px);
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.input:before {
  content: "";
  background: #fff;
  /* background: var(--input-line-background,rgba(0, 0, 0, 0.1)); */
  z-index: 3;
}
.input .spin {
  background: #4285f4;
  z-index: 4;
  width: 0;
}
.input label {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 2;
  cursor: pointer;
  line-height: 60px;
}


/* submit button style */

.morpher {
  box-sizing: border-box;
  position: relative;
  display: flex;
  -webkit-box-flex: 0;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  min-width: 48px;
  overflow: visible;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 10px;
}

.login__submit {
  -webkit-transition: width 200ms ease-in 200ms, padding 200ms ease-out 200ms, border-radius 200ms ease-in, font-size 200ms ease-in 100ms, background 400ms;
  transition: width 200ms ease-in 200ms, padding 200ms ease-out 200ms, border-radius 200ms ease-in, font-size 200ms ease-in 100ms, background 400ms;
  position: relative;
  width: 80%;
  height: 50px;
  margin:0 auto;
  background: rgba(0,0,0,0);
  -webkit-box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.2) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.02) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.2) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.02) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
  border: none;
  text-align: center;
}
.login__submit:hover {
  -webkit-box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.3) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.04) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.3) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.04) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.login__submit:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -23px;
  margin-top: -23px;
  width: 45px;
  height: 45px;
  border: 2px dotted #fff;
  border-radius: 50%;
  border-left: none;
  border-bottom: none;
  -webkit-transition: opacity 0.1s 0.4s;
  transition: opacity 0.1s 0.4s;
  opacity: 0;
  overflow: hidden;
}

.login__submit.processing {
  -webkit-transition: width 200ms ease-in, padding 200ms ease-out, border-radius 200ms ease-in 200ms, font-size 200ms ease-in, background 400ms;
  transition: width 200ms ease-in, padding 200ms ease-out, border-radius 200ms ease-in 200ms, font-size 200ms ease-in, background 400ms;
  width: 50px;
  border-radius: 50%;
  font-size: 0;
  padding: 1em;
}

.login__submit.processing:after {
  opacity: 1;
  -webkit-animation: rotate 0.5s 0.4s infinite linear;
  animation: rotate 0.5s 0.4s infinite linear;
}

.login__submit.success {
  -webkit-transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  -webkit-transform: scale(30);
  transform: scale(30);
  opacity: 0.9;
}

.login__submit.success:after {
  -webkit-transition: opacity 0.1s 0s;
  transition: opacity 0.1s 0s;
  opacity: 0;
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
