/*
 * Copyright © 2015 Antergos
 * Copyright © 2018 Sven Mäder
 *
 * greeter.js
 *
 * This file is part of web-greeter-theme-luminosity
 *
 * web-greeter-theme-luminosity is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License,
 * or any later version.
 *
 * web-greeter-theme-luminosity is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * The following additional terms are in effect as per Section 7 of the license:
 *
 * The preservation of all legal notices and author attributions in
 * the material or in the Appropriate Legal Notices displayed
 * by works containing it is required.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/* global settings */

body,
html {
  display: block;
  min-height: 100%;
  font-family: "DINPro", "PTSans", "Rubik", "Roboto", "OpenSans", "Ubuntu", "abelregular", "WhiteRabbit", "Orbitron", sans-serif;
  font-size: 16px;
  letter-spacing: normal;
  line-height: normal;
  overflow: hidden;
  background-color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
*:focus,
a:focus,
btn:focus {
  outline: none;
}
[hidden]{
  display: none !important;
}
p {
  margin: 0;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.9);
  border: none;;
}
::-webkit-scrollbar-thumb {
  background-color: #222;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}
a { 
  text-decoration: none !important; 
}
::selection {
  background: #4285f4;
}
::-webkit-selection: {
  background: #4285f4;
}


/* background */

.bg {
  background: #000;
  bottom: 0;
  direction: ltr;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.bg svg {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}
#bg-switch-toggle {
  top: 0;
  right: -2px;
  position: fixed;
  z-index: 2;
}
#bg-switch-wrapper {
  margin-right: -250px;
  top: 0;
  right: 0;
  width: 250px;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}
#bg-switch-wrapper.active {
  right: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
  overflow-x: hidden;
}
.bg-switch-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.switch-container {
  pointer-events: none;
  width: 100%;
  height: 40px;
}
#bg-switch-close {
  pointer-events: all;
  cursor: pointer;
}
.bg-switch {
  width: 250px;
  color: #F5F5F5;
}
.bg-switch h3 {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}
.bg-switch .bgs {
  text-align: center;
}
.bg-switch .bgs img {
  width: 100px;
  height: 56px;
  margin: 5px;
  cursor: pointer;
}
.bg-switch .bgs .bg-default {
  margin-bottom: 10px;
}


/* panel */

#panel {
  display: block;
  z-index: 3;
  overflow: hidden;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .5s linear;
  transition: opacity .5s linear;
}
.fade.in {
  opacity: 1;
}
.username-area.flying-pods #username-area {
  transition: width 180ms ease, height 180ms ease;
}


/* status */

#statusPanel {
  display: none;
  opacity: 0;
  z-index: 2000;
  position: absolute;
  width: 400px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
#statusArea {
  width: 100%;
  height: 100%;
  padding: 20px;
}
#statusArea span {
  width: 350px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#locked,
#unlocked {
  font-size: 70px;
  top: 35%;
  transform: translate(-50%, -50%);
}
#statusMessage {
  font-size: 40px;
  top: 70%;
  transform: translate(-50%, -50%);
}


/* log */

.logPanel {
  position: absolute;
  display: none;
  z-index: 2;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-family: "PTMono", "RobotoMono", "SpaceMono", monospace;
  font-size: 13px;
  padding: 20px;
  left: 40px;
  width: 600px;
  height: calc(50% - 60px);
  z-index: 2;
}
.logWrap {
  display: flex;
  overflow: hidden;
}
.logWrap span {
  align-self: flex-end;
}
#debugPanel {
  bottom: 40px;
}
#messagePanel {
  top: 40px;
}


/* header */

#header {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}


/* footer */

#footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}


/* content */

.content {
  position: relative;
  padding: 0;
  transition: margin 0.25s;
  width: calc(100% * 2);
}
.content .username-area,
.content .password-area {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.content .content-header {
  padding-left: 40px;
  padding-right: 40px;
}
.content .content-login {
  padding-top: 40px;
  padding-bottom: 40px;
}
.content .content-footer {
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  bottom: 108px;
  left: 0;
  width: 100%;
}
.content .content-header h1 {
  text-indent: -1px;
  font-size: 25px;
  font-weight: bold;
  line-height: 32px;
  margin: 0;
}


/* info container */

.info-container {
}
.info-block {
}
.info-left {
  width: 40%;
  float: left;
}
.info-right {
  font-weight: bold;
  width: 60%;
  float: left;
  white-space: nowrap;
  overflow: hidden;
}
.info-spacer {
  height: 10px;
}
.info-clear {
  clear: both;
}


/* session list */
#session-list {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  position: relative;
}


/* banner */

#banner {
  display: block;
  height: 31px;
}
#banner img{
  max-height: 100%;
}


/* logo */

#logo-container {
  box-sizing: border-box;
  position: relative;
  z-index: 3;
  padding-top: 40px;
  padding-bottom: 40px;
}
#logo {
  display: inline-block;
  width: 146px;
}
#logo img{
  width: 100%;
}


/* button style (actionButton, wallpaperButton) */

#actionsArea,
#backArea {
  position: relative;
  transform: translateY(-1px);
}
#backArea {
  display: none;
}
.btn {
  padding: 2px 12px;
  border: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.846;
  border-radius: 3px;
}
.btn {
  color: #fff;
  background: none;
  box-shadow: 1px 1px 2px -1px rgba(255, 255, 255, 0.06) inset, 4px 4px 8px -4px rgba(255, 255, 255, 0.03) inset, 1px 1px 4px rgba(0,0,0,0.4);
}
.btn:hover {
  color: #fff;
  background: none;
  box-shadow: 1px 1px 2px -1px rgba(255, 255, 255, 0.1) inset, 4px 4px 8px -4px rgba(255, 255, 255, 0.12) inset, 1px 1px 4px rgba(0,0,0,0.4);
}
.btn:focus {
  outline: none;
  background-image: none;
  color: #000;
  background-color: #fff;
}
.btn:active:focus {
  outline: none;
  background-image: none;
  color: #000;
  background-color: #fff;
}
.btn:active {
  color: #fff;
  background: none;
  background-image: none;
}
.btn:active:hover {
  color: #fff;
  background: none;
  background-image: none;
}
.bg-toggle {
  margin: 5px 5px 0 0;
  font-size: 17px;
  padding: 8px 12px;
  line-height: 1;
}
.btn-default:active,.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: transparent;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #fff;
  background-color: transparent;
}


/* drop-down style */

#session-button {
  width: 100%;
  height: 60px;
  padding: 0;
}
#session-selected {
  float: left;
  height: 50px;
  line-height: 50px;
  width: calc(100% - 30px);
  text-align: left;
  vertical-align: middle;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}
#session-arrow {
  float: right;
  height: 50px;
  line-height: 50px;
  width: 28px;
  text-align: center;
  vertical-align: middle;
}
#sessions {
  background-color: rgba(0,0,0,0.9);
  width: calc(100% - 80px);
  margin-left: 40px;
  margin-right: 40px;
  /* -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px); */
  margin-top: 5px;
  height: 220px;
  overflow-y: auto;
}
#session-selected,
#session-arrow,
#sessions {
  font-size: 20px;
}
#sessions ul {
  top: 0;
}
#sessions li a {
  color: inherit;
}
#sessions li {
  color: #fff;
}
#sessions li:hover {
  color: #000;
  background: none;
  background-color: #fff;
}
#sessions li:focus {
  outline: none;
  background-image: none;
  color: #000;
  background-color: #fff;
}
#sessions li:active:focus {
  outline: none;
  background-image: none;
  color: #000;
  background-color: #fff;
}
#sessions li:active {
  color: #000;
  background: none;
  background-image: none;
  background-color: #fff;
}
#sessions li:active:hover {
  color: #000;
  background: none;
  background-image: none;
  background-color: #fff;
}
#sessions li a:hover {
  color: #000;
  background: none;
  background-color: #fff;
}
#sessions li a:focus {
  outline: none;
  background-image: none;
  color: #000;
  background-color: #fff;
}
#sessions li a:active:focus {
  outline: none;
  background-image: none;
  color: #000;
  background-color: #fff;
}
#sessions li a:active {
  color: #000;
  background: none;
  background-image: none;
  background-color: #fff;
}
#sessions li a:active:hover {
  color: #000;
  background: none;
  background-image: none;
  background-color: #fff;
}
#session-button {
  -webkit-box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.2) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.02) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.2) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.02) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.2);
}
#session-button:hover {
  -webkit-box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.3) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.04) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.3) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.04) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}


/* input field style */

.input,
.input label,
.input input,
.input input[type="text"],
.input input[type="password"],
.input input[type="text"]:focus,
.input input[type="password"]:focus,
.input .spin {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input,
.input label,
.input input {
  width: 100%;
  box-sizing: border-box;
  outline: none;
}
.input,
.input label {
  padding-left: 40px;
  padding-right: 40px;
}
.input label {
  margin: 0;
  opacity: 0.5;
}
.input,
.button {
  height: 70px;
}
.input,
.input input {
  position: relative;
}
.input input {
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
}
.input input,
.input label {
  font-size: 20px;
  font-weight: normal;
}
.input label {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 4;
  cursor: pointer;
  line-height: 60px;
}
.input .nospin,
.input .spin {
  box-sizing: border-box;
  margin-left: 40px;
  margin-right: 40px;
  width: calc(100% - 80px);
  position: absolute;
  bottom: 0;
  left: 0;
}
.input .nospin {
  border-bottom: 1px solid #fff;
  z-index: 5;
}
.input .spin {
  border-bottom: 1px solid #4285f4;
  z-index: 6;
  width: 0;
}


/* submit button style */

.morpher {
  box-sizing: border-box;
  position: relative;
  display: flex;
  -webkit-box-flex: 0;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  min-width: 48px;
  overflow: visible;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 10px;
}

#authenticateButton {
  -webkit-transition: width 200ms ease-in 200ms, padding 200ms ease-out 200ms, border-radius 200ms ease-in, font-size 200ms ease-in 100ms, background 400ms, box-shadow .4s;
  transition: width 200ms ease-in 200ms, padding 200ms ease-out 200ms, border-radius 200ms ease-in, font-size 200ms ease-in 100ms, background 400ms, box-shadow .4s;
  position: relative;
  width: 80%;
  height: 50px;
  margin:0 auto;
  background: rgba(0,0,0,0);
  -webkit-box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.2) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.02) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.2) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.02) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
  border: none;
  text-align: center;
}
#authenticateButton:hover {
  -webkit-box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.3) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.04) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.3) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.04) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}
#authenticateButton:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -23px;
  margin-top: -23px;
  width: 45px;
  height: 45px;
  border: 2px dotted #fff;
  border-radius: 50%;
  border-left: none;
  border-bottom: none;
  -webkit-transition: opacity 0.1s 0.4s;
  transition: opacity 0.1s 0.4s;
  opacity: 0;
  overflow: hidden;
}
#authenticateButton.processing {
  -webkit-transition: width 200ms ease-in, padding 200ms ease-out, border-radius 200ms ease-in 200ms, font-size 200ms ease-in, background 400ms, box-shadow .4s;
  transition: width 200ms ease-in, padding 200ms ease-out, border-radius 200ms ease-in 200ms, font-size 200ms ease-in, background 400ms, box-shadow .4s;
  width: 50px;
  border-radius: 50%;
  font-size: 0;
  padding: 1em;
}
#authenticateButton.processing:after {
  opacity: 1;
  -webkit-animation: rotate 0.5s 0.4s infinite linear;
  animation: rotate 0.5s 0.4s infinite linear;
}
#authenticateButton.success {
  -webkit-transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  -webkit-transform: scale(30);
  transform: scale(30);
  opacity: 0.9;
}
#authenticateButton.success:after {
  -webkit-transition: opacity 0.1s 0s;
  transition: opacity 0.1s 0s;
  opacity: 0;
  -webkit-animation: none;
  animation: none;
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
